global
    log stdout format raw local0
    maxconn 100000  # Max connections HAProxy can handle
    nbproc 1        # Number of HAProxy processes
    nbthread 4      # Number of threads per process (adjust for multi-core CPUs)

defaults
    timeout connect 5s
    timeout client 50s
    timeout server 50s
    log global
    option httplog
    mode http

frontend http_front
    bind *:8080
    maxconn 50000   # Limit for this frontend
    default_backend nginx_servers

backend nginx_servers
    balance roundrobin
    option httpchk
    server nginx1 nginx_1:1900 check maxconn 20000
    server nginx2 nginx_2:1901 check maxconn 20000